apiVersion: v1
kind: Secret
metadata:
  name: logspout-secret
  namespace: kube-system
type: Opaque
data:
  route-uri: c3lzbG9nK3RjcDovL2V4YW1wbGUuY29tOjUxNAo= # echo syslog+tcp://example.com:514 | base64
---